body {
  margin: 0;
  background: #1b1b1b;
  color: #fff;
}

pre {
  white-space: pre-wrap;
  font-size: 14px;
  line-height: 22px;
  border-left: 4px solid darksalmon;
  background: #291d18;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
